@import '../variables';

.component__create_new_task {
  border-left: 1px dotted $muted-color;
  margin-bottom: 0.1rem;
  padding: 0;
  white-space: nowrap;

  > .content {
    display: inline-block;
    padding: 0.25rem 0 0.25rem 2.25rem;

    &:active, &:focus, &:hover {
      > input {
        border: 0;
        border-bottom: 1px solid $accent-color;
      }
    }
    
    > input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid $muted-color;
      border-radius: 0;
      display: inline-block;
      height: $input-height;
      margin-left: 1rem;
      padding: 0;
      width: $text-input-width;
    }
  
    > .add_task {
      text-align: center;
      display: inline-block;
      height: $input-height;
      width: $input-height;
    }
  }
}