@import '../variables';

.component__header {
  align-items: center;
  display: flex;
  background: $accent-color;
  color: $print-color;
  height: $interaction-size * 1.5;
  margin-bottom: $spacing;
  padding: 0 $spacing;

  > .logo {
    color: $white-color;
    font-size: 3.0rem;
    font-weight: $font-weight-black;
    margin-left: $spacing;
  }
}