@import '../variables';

.component__landing {
  background: linear-gradient(180deg, rgba(172, 167, 179, 0.27), rgba(245, 214, 243, 0.85));
  height: 100vh;
}

.component__hero {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;

  > .content {
    text-align: center;
    width: 100%;
  }
}

.component__create_new_list {
  display: inline-block;
  margin-right: $spacing;
}