@import '../variables';

.component__landing {
  height: 100vh;
  position: relative;

  > .container > .copy {
    padding: $interaction-size 0;
  }
}

.component__hero {
  align-items: center;
  background: linear-gradient(180deg, rgba(172, 167, 179, 0.27), rgba(245, 214, 243, 0.85));
  display: flex;
  height: 80%;
  min-height: 600px;
  width: 100%;

  > .content {
    text-align: center;
    margin: 0 auto;

    > .logo {
      align-items: center;
      display: flex;

      > h1 {
        margin-left: $spacing;
      }
    }
  }
}

.component__create_new_list {
  display: inline-block;
  margin-right: $spacing;
}

h2 {
  text-decoration: underline;
}
