@import '../variables';

.component__task {
  border-left: 1px solid $muted-color;
  padding: 0.2rem 0 0.4rem $spacing / 2;
  white-space: nowrap;
    
  > input[type="text"] {
    background: transparent;
    border: 0;
    border-radius: 0;
    display: inline-block;
    height: $input-height;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    padding: 0;
    width: $text-input-width;
  }

  > input[type="checkbox"] {
    background: transparent;
    border: 0;
    margin-bottom: 0;
  }

  > .icons {
    display: inline-block;

    > .add_sublist {
      display: inline-block;
      text-align: center;
      height: $input-height;
      width: $input-height;
    }
  }

  > .component__task_list {
    margin-left: 2.4rem;
  }
}