@import 'variables';

@import 'global/normalize';
@import 'global/skeleton';

@import 'global/animate';
@import 'global/buttons';
@import 'global/form';
@import 'global/links';
@import 'global/spacing';
@import 'global/shapes';
@import 'global/typography';

@import 'components/create_new_task';
@import 'components/header';
@import 'components/page';
@import 'components/task_list';
@import 'components/task';

* {
  box-sizing: border-box;
}

html,
body {
  color: $print-color;
  height: 100%;
  margin: 0;
}

#app {
  height: 100% !important;
}

hr {
  margin: 3rem 0;
  border-top: 1px dashed $muted-color;
}