$accent-color: #DDC700;
$accent-secondary-color: #6E6934;

$accent-muted-color: #457299;
$accent-muted-secondary-color: #809BB4;

$white-color: #fff;
$muted-color: #eee;
$print-color: #111;

$spacing: 2rem;
$rounded-corner: 0.3rem;

$interaction-size: 4.4rem;

$z-index-content: 100;
$z-index-overlay: 1000;
$z-index-hud: 9000;  // Cuz cloud 9, er something.

$slide-columns: 6;
$slide-rows: 5;

$font-weight-black: 900;
$font-weight-normal: 400;