$accent-color: #248B5E;
$accent-secondary-color: #00CE78;

$accent-muted-color: #00CE78;
$accent-muted-secondary-color: #00CE78;

$white-color: #fff;
$muted-color: #eee;
$print-color: #111;

$spacing: 2rem;
$rounded-corner: 0.3rem;

$interaction-size: 4.4rem;

$z-index-content: 100;
$z-index-overlay: 1000;
$z-index-hud: 9000;  // Cuz cloud 9, er something.

$slide-columns: 6;
$slide-rows: 5;

$font-weight-black: 900;
$font-weight-normal: 400;

$input-height: 3rem;
$text-input-width: 30rem;