<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>

  <form method="post">
    {{ form.csrf_token }}
    <label>
      {{ form.email_address.label.text }}
      {{ form.email_address }}
    </label>
    <label>
      {{ form.password.label.text }}
      {{ form.password }}
    </label>
    <label>
      {{ form.password_verify.label.text }}
      {{ form.password_verify }}
    </label>
    <button>Sign Up</button>
  </form>
</body>
</html>
